:root {
  --font-weight-thin: 100;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  --font-size-xxxs: 0.5em;
  --font-size-xxs: 0.75em;
  --font-size-xs: 1.2em;
  --font-size-s: 1.4rem;
  --font-size-body: 1.6rem;
  --font-size-m: 2.4rem;
  --font-size-l: 2.8rem;
  --font-size-xl: 3.6rem;

  --red-color-primary: #d51125;
  --red-color-secondary: #fff6f7;
  --light-blue-color: #145a97;
  --dark-blue-color: #002a5c;

  --margin-mobile-page: 1.5em;
  --margin-desktop-page: 6em;
}

body {
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
}

/* HEAD SECTION */
.head-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 0 2.5% 0;
  width: 100%;
  height: 100%;
}

.left-section {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 0 0 10% var(--margin-desktop-page);
}

.logo {
  width: 15em;
  display: flex;
  margin: 6.4% 0 5% 0;
  justify-content: flex-start;
}

.logo img {
  width: 100%;
  height: 100%;
}

.housing {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15% 0 0 0;
  justify-content: flex-start;
}

.title-housing p {
  font-size: var(--font-size-l);
  margin: 0;
  font-weight: var(--font-weight-semi-bold);
  color: var(--dark-blue-color);
  text-align: left;
}

.address-housing {
  font-size: var(--font-size-xxs);
  font-weight: var(--font-weight-bold);
}

.address-housing .content {
  background-color: var(--red-color-secondary);
  border-radius: 22px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: fit-content;
  padding: 0 2% 0 2%;
  margin: 2% 0 0 0;
}

.address-housing .content p {
  color: var(--red-color-primary);
  font-weight: var(--font-weight-bold);
}

.address-housing .content img {
  width: 1.5em;
  height: 1.5em;
}

.description-housing {
  margin: 10% 0 0 0;
}

.description-housing .size-housing p {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  color: var(--dark-blue-color);
  text-align: left;
  margin: 10% 0 0 0;
}

.prize-housing .content {
  background-color: var(--red-color-primary);
  box-shadow: 8px 8px rgb(255, 255, 255), 8px 8px 0 2px var(--dark-blue-color);
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 0 5% 0 5%;
  margin: 2% 0 10% 0;
}

.prize-housing .content #small-p-content {
  color: white;
  margin: 8% 4% 0 4%;
  font-size: var(--font-size-xxxs);
}

.prize-housing .content #big-p-content {
  color: white;
  margin: 0 8% 8% 4%;
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-bold);
}

.right-section {
  background-image: url(assets/perspective.jpg);
  background-size: 100% 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.delivry-information {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  width: 100%;
  height: 100%;
}

.grid-1 {
  grid-column: 1;
}
.information-left-bottom-timer {
  margin: 0 0 4% 8%;
  width: 100%;
  padding: 0.5%;
}

.information-left-bottom-timer .content {
  background-color: var(--light-blue-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 65%;
}

.information-left-bottom-timer p,
.information-right-top-works p {
  font-size: var(--font-size-xxs);
  color: white;
}

.information-left-bottom-timer img {
  width: 1.5em;
  height: 1.5em;
  margin: 4%;
}

.grid-2 {
  grid-column: 3;
}
.works-information {
  grid-column: 3;
  display: flex;
  justify-content: flex-end;
  align-items: start;
  width: auto;
  height: 100%;
}

.information-right-top-works {
  margin: 8.2% 22.5% 0 0;
  background-color: var(--red-color-primary);
  padding: 0 4% 0 4%;
}

/* MID SECTION */

.mid-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.text-area-information {
  margin: 2.5% 0 0 var(--margin-desktop-page);
}
.text-area-information .title-description {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-normal);
  color: var(--dark-blue-color);
}

.text-area-information #description {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-thin);
  color: var(--dark-blue-color);
}

.check-list-description {
  display: flex;
  flex-direction: column;
}

.check-list-description #check-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.check-list-description #check-list #check {
  background-color: var(--red-color-primary);
  width: 0.75em;
  height: 0.75em;
  border-radius: 100%;
  padding: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
}

.check-list-description #check-list p {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-normal);
  color: var(--dark-blue-color);
}

/* MID FORM SECTION */

.grid-form {
  display: flex;
  justify-content: center;
  height: auto;
}
.message-info-form {
  position: relative;
  z-index: 2;
  top: -175px;
  background-color: var(--light-blue-color);
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 2.5%;
  box-shadow: 4px 4px 35px 0px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.message-info-form .title-form {
  padding: 1%;
}

.message-info-form .title-form p {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-medium);
  color: white;
}

.message-info-form form .gender-selection,
.message-info-form form .wish-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.message-info-form form .gender-selection .gender-input-radio,
.message-info-form form .gender-selection p,
.message-info-form form .wish-selection .wish-input-radio,
.message-info-form form .wish-selection p {
  margin: 5%;
  color: white;
}

.message-info-form form .gender-selection .gender-input-radio input,
.message-info-form form .wish-selection input {
  accent-color: var(--red-color-primary);
}

.message-info-form form .personal-information {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1%;
}
.message-info-form form .personal-information .numeric-personal-information {
  display: flex;
  flex-direction: row;
}

.message-info-form
  form
  .personal-information
  .numeric-personal-information
  input {
  width: 50%;
}

.message-info-form form .personal-information input {
  font-size: var(--font-size-xs);
  font-weight: var(--font-size-body);
  border: none;
  outline: none;
  border-radius: 2px;
  padding: 2.5%;
  margin: 2.5%;
  width: auto;
}

.message-info-form form .personal-information input::placeholder,
.message-text-area #message-area::placeholder {
  color: var(--light-blue-color);
}

input[type="radio"] {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
}

.message-text-area {
  display: flex;
  justify-content: center;

  height: auto;
}

.message-text-area #message-area {
  font-size: var(--font-size-xs);
  font-weight: var(--font-size-body);
  color: var(--light-blue-color);
  font-family: "Open sans";
  outline: none;
  overflow: auto;
  border-radius: 2px;
  max-height: 20em;
  width: 100%;
  resize: vertical;
  margin: 2.5%;
  padding: 2.5%;
}

::-webkit-resizer {
  display: none;
}

::-webkit-resizer:hover {
  display: block;
}

.commercial-selection {
  font-size: var(--font-size-xxs);
  font-weight: var(--font-size-body);
  color: white;
  word-break: break-word;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: fit-content;
  padding: 2.5%;
}
.commercial-selection label {
  width: 35em;
}
.commercial-selection input {
  width: 1.25em;
  height: 1.25em;
}

.commercial-selection input[type="checkbox"] {
  accent-color: var(--dark-blue-color);
}

.commercial-selection input,
.commercial-selection label {
  margin: 1%;
}

.commercial-selection a {
  text-decoration: underline;
  color: white;
}
.commercial-selection a:focus {
  color: var(--red-color-primary);
}

.submit-form-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
}

#submit-button {
  width: auto;
  height: auto;
  margin: 2.5% 2.5% 3.5% 2.5%;
  background-color: var(--red-color-primary);
  border-radius: 2px;
  cursor: pointer;
  transition: 0.8s;
  border: 2px solid transparent;
}

#submit-button:hover {
  border: 2px solid var(--red-color-primary);
  box-shadow: 10px 10px 0px var(--red-color-secondary);
}

.submit-button-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.submit-button-content p {
  text-transform: uppercase;
  font-size: var(--font-size-s);
  font-weight: var(--font-size-body);
  color: white;
}

.arrow-svg-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 3em;
  height: 3em;
  background-color: white;
  margin: 0 5% 0 0;
}

.submit-button-content .arrow-svg-circle img {
  width: 1.5em;
  height: 1.5em;
}

.submit-form-button #required-fields {
  font-size: var(--font-size-xxs);
  font-weight: var(--font-size-body);
  margin: 2.5% 8% 0 8%;
  color: white;
}

/*Mid Visual Content*/

.visuel-mid-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 0 0 var(--margin-desktop-page);
}

.visuel-mid-content .visuel-img img {
  height: 27.5em;
  width: 50em;
  box-shadow: 35px 35px 0px var(--dark-blue-color);
  margin: 2.5% 0 10% 0;
}

/* Footer */

.footer {
  margin: 5% var(--margin-desktop-page) 5% var(--margin-desktop-page);
}
.footer-content p {
  font-size: var(--font-size-xxs);
  font-weight: var(--font-size-body);
  color: var(--dark-blue-color);
  margin: 5% 0 5% 0;
  word-break: break-word;
}

/* Mobile Responsive */
@media screen and (max-width: 640px) {
  .head-section {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0%;
  }

  .left-section {
    display: flex;
    margin: 10% 0 10% 0;
    justify-content: center;
    align-items: center;
    padding: 0 var(--margin-mobile-page) 0 var(--margin-mobile-page);
  }

  .logo {
    margin: 6.4% 0 5% 0;
  }
  .housing {
    margin: 15% 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .housing .title-housing p {
    text-align: center;
  }

  .description-housing {
    margin: 10% 0 0 0;
  }
  .description-housing .size-housing p {
    margin: 10% 0 0 0;
  }

  .address-housing .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .description-housing .size-housing p {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-bold);
    color: var(--dark-blue-color);
    text-align: left;
    /* margin: 10% 0 0 0; */
  }
  .prize-housing .content {
    padding: 0 5% 0 5%;
    margin: 2% 0 10% 0;
  }

  .right-section {
    background-size: cover;
    background-repeat: no-repeat;
    height: 20em;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
  }

  .right-section .delivry-information {
    width: 100%;
    grid-column: 1;
  }

  .right-section .works-information {
    width: 100%;
    grid-column: 1;
  }

  .right-section .works-information .information-right-top-works {
    width: 100%;
    margin: 15% 15% 0 0;
  }

  .right-section .delivry-information .information-left-bottom-timer {
    width: auto;
    margin: 0 0 5% 5%;
  }

  .mid-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: var(--margin-mobile-page);
  }

  .grid-form .message-info-form {
    width: 85%;
    margin: var(--margin-mobile-page) 0 var(--margin-mobile-page) 0;
    z-index: 2;
    top: 0;
  }

  .submit-button-content p {
    font-size: var(--font-size-xs);
  }

  .arrow-svg-circle {
    width: 2em;
    height: 2em;
  }

  .submit-button-content .arrow-svg-circle img {
    width: 1em;
    height: 1em;
  }

  .commercial-selection label {
    width: 100%;
  }
  .commercial-selection input,
  .commercial-selection label {
    margin: 2.5%;
    padding: 2.5%;
  }

  .text-area-information {
    margin: 0;
  }

  .visuel-mid-content {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10% 0 10% 0;
  }
  .visuel-mid-content .visuel-img {
    display: flex;

    justify-content: center;
    align-items: center;
  }

  .visuel-mid-content .visuel-img img {
    height: 75%;
    width: 75%;
    box-shadow: 12.5px 12.5px 0px var(--dark-blue-color);
  }

  .footer {
    margin: 5% var(--margin-mobile-page) 5% var(--margin-mobile-page);
  }
}
